doctype html
html
  head
    title Style Guide Kit
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href=process.env.WEB_BASE + "/css/common.css")
    script(src=process.env.WEB_BASE + "/js/vendor.js")

  body
    #app
    script(src=process.env.WEB_BASE + "/js/index.js")
